<html>
    <head>
        <title>New Article Form</title>
    </head>
    <body>
        <h1>Create New Article</h1>
        <p>Contect</p>
        <textarea id="contect">Add Contact </textarea> <br/>
        
        
        var newArticle = {title"",contact:""};
        $('submit').click(function){
            console.log('submit clicked');
            newArticle.title=$('#title').val()
            newArticle.contect = $('#contect').val();
            $.ajax({
            method
    </body>
</html>