<html>
    <head>
        <title>New Product Form</title>
    </head>
    <body>
        <h1>Create New Product</h1>
        <p>Contect</p>
        <textarea id="contect">Add Contact </textarea> <br/>
        
        
        var newProduct = {title"",contact:""};
        $('submit').click(function){
            console.log('submit clicked');
            newProduct.title=$('#title').val()
            newProduct.contect = $('#contect').val();
            $.ajax({
            method
    </body>
</html>