<html>
    <head>
        <title>New Product Form</title>
    </head>
    <body>
        <h1>Create New Product</h1>
        <p>Name</p>
        
        <textarea id="contect">Add Contact </textarea> <br/>
        
        
        var newProduct = {title"",contact:""};
        $('submit').click(function){
            console.log('submit clicked');
            newProduct.title=$('#title').val()
            newProduct.contect = $('#contect').val();
            $.ajax({
            method
            
            
            newProduct.price= $('#price').val();
            newProduct.quantity= $('#quantity').val();
            $.ajax({
                method:"POST",
                url: "/api/products",
                data:newProduct
            }).done(function(response){
                console.log(response);
                window.location.replace
            }).fail(function(response){
                $('#error').text(JSON.parse(response.responseText).message);
                 console.log(response.responseText);
    </body>
</html>